/* General */

body {
    width: 100%;
    background: #ddd;
    margin: 0;
}

.loadingtext {
    text-align: center;
    font-size: 40px;
}

.showcase-content {
    padding: 20px;
}

.showcase {
    font-size: 300%;
}
.showcase:hover {
    text-decoration: underline !important;
    cursor: pointer;
}
.showcase-subheader {
    font-size: 200%;
}

.mainmenu-item {
    font-size: larger;
}

.mainmenu-item:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

.source-container {
    width: 100%;
    border: solid 1px #666;
    display: flex;
}

.source-show-hide {
    float: right;
}

.source-header {
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    font-size: 24px;
    -moz-user-select: all;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.source-result {
    width: 100%;
    vertical-align: top;
    padding: 5px;
}

.source-code {
    width: 100%;
    overflow-x: hidden;
    vertical-align: top;
    padding: 5px;
}

.source-code p {
    white-space: pre;
    border: solid 1px #666;
    background: #fff;
    overflow-x: auto;
    font-family: "Courier New", Courier, monospace;
}

a, a:focus, a:hover, .showcase-subheader {
    color: #0275d8 !important;
}

.generalbutton {
    color: #fff;
    background: #1050c0;
}

/* Drag and Drop */
div.drop-zone {
    width: 200px;
    height: 200px;
    border: solid 1px black;
}

div.draggable {
    width: 100px;
    height: 100px;
    background-color: #1050c0;
}

/* SearchBox */

.list-element-nostyle {
    background: white;
}

.input-template {
    width: 300px;
    border-width: 0;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    padding: 5px;
}

.list-element {
    background: #ccc;
    width: 300px;
    overflow: hidden;
    padding: 3px;
    border-color: #bbb;
    border-style: solid;
    border-width: 0 2px;
}

.list-element:hover {
    background: #bbb;
}

.list-element.list-element-selected {
    background: #aaf;
}

.list-element.list-element-first {
    border-top-width: 2px;
}
.list-element.list-element-last {
    border-radius: 0 0 10px 10px;
    border-bottom-width: 2px;
}

.list-element-separator {
    height: 2px;
    background: #aaa;
}


/* FileUploader */

.file-list-element-container {
    display: table;
    margin: 5px 0;
}

.file-list-element-container .file-list-element {
    display: table-cell;
}

.file-list-element-container .file-list-element:first-child {
    width: 100%;
}
