# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Dependency directories
node_modules
wizyx/node_modules

# Target
wizyx/**/*.d.ts
wizyx/**/*.css
wizyx/src/**/*.js
wizyx/**/*.js.map
wizyx/index.js
wizyx/bundles
showcase/bundles
server/**/*.js

# Server uploads directory
upload

# IDE directories
.vscode
