# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Dependency directories
node_modules
uitoolkit/node_modules

# Target
uitoolkit
showcase/bundles
server/**/*.js

# Server uploads directory
upload