.wx-drop {
    &.wx-can-drop {
        background-color: green !important;
    }
    &.wx-cannot-drop {
        background-color: red !important;
    }
}

.wx-draggable {
    -moz-user-select: all;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    transition: transform $drag-animation-duration;
    cursor: move;
    &.wx-dragging {
        transition: none;
    }
}

body.wx-dragmouse > * {
    cursor: move;
}

