$progressbar-background-color: #aaa;
$progressbar-foreground-color: #28f;
$progressbar-height: 5px;
$progressbar-border-radius: 2px;
$progressbar-width-transition-duration: 1s;

$slider-background-color: #aaa;
$slider-foreground-color: #28f;
$slider-height: 10px;
$slider-border-radius: 2px;
$slider-width-transition-duration: 0.3s;

$searchbox-element-list-height: 200px;

$fileuploader-drop-zone-minheigth: 100px;
$fileuploader-drop-zone-border: solid 1px black;
