ui-expander {
    .ui-expander-content {
        display: none;
        transform-origin: 50% 0%;
        transform: scale(1, 0);
        transition: transform $expander-animation-duration;
        &.display {
            display: block;
        }
        &.open {
            transform: scale(1, 1);
        }
    }
}