$default-value: 100%;

$progressbar-background-color: #aaa;
$progressbar-foreground-color: #28f;
$progressbar-height: 5px;
$progressbar-border-radius: 2px;
$progressbar-width-transition-duration: 1s;
