wx-searchbox {
    div.wx-searchbox-element-list {
        position: relative;
        div.wx-searchbox-list-elements {
            overflow: auto;
            max-height: $searchbox-element-list-height;
            position: absolute;
            div.wx-searchbox-list-element {
                cursor: pointer;
            }
        }
    }
}