ui-searchbox {
    div.ui-searchbox-element-list {
        position: relative;
        div.ui-searchbox-list-elements {
            overflow: auto;
            max-height: $searchbox-element-list-height;
            position: absolute;
            div.ui-searchbox-list-element {
                cursor: pointer;
            }
        }
    }
}