wx-datagrid {
    th {
        cursor: pointer;
        -moz-user-select: all;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
    svg.wx-datagrid-arrow {
        stroke: black;
        transition: transform 0.2s;
        &.down {
            transform: rotate(90deg);
        }
        &.up {
            transform: rotate(-90deg);
        }
        &.hidden {
            visibility: hidden;
        }
    }
}
