body {
    background: #ddd;
    margin: 0;
}

.loadingtext {
    text-align: center;
    font-size: 40px;
}

.showcase-content {
    padding: 20px;
}

.showcase:hover {
    text-decoration: underline;
    cursor: pointer;
}

.mainmenu-item {
    font-size: larger;
}

.mainmenu-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.list-element {
    background: #ddd;
}

.list-element-separator {
    height: 2px;
    background: #aaa;
}
