/* General */

body {
    background: #ddd;
    margin: 0;
}

.loadingtext {
    text-align: center;
    font-size: 40px;
}

.showcase-content {
    padding: 20px;
}

.showcase:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

.mainmenu-item {
    font-size: larger;
}

.mainmenu-item:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

/* SearchBox */

.list-element-nostyle {
    background: white;
}

.input-template {
    width: 300px;
    border-width: 0;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    padding: 5px;
}

.list-element {
    background: #ccc;
    width: 300px;
    overflow: hidden;
    padding: 3px;
    border-color: #bbb;
    border-style: solid;
    border-width: 0 2px;
}

.list-element:hover {
    background: #bbb;
}

.list-element.list-element-selected {
    background: #aaf;
}

.list-element.list-element-first {
    border-top-width: 2px;
}
.list-element.list-element-last {
    border-radius: 0 0 10px 10px;
    border-bottom-width: 2px;
}

.list-element-separator {
    height: 2px;
    background: #aaa;
}

