uisearchbox {
    div.searchbox-element-list {
        position: relative;
        div.searchbox-list-elements {
            position: absolute;
            div.searchbox-list-element {
                cursor: pointer;
            }
        }
    }
}